<h3>Board</h3>
<div class="wrapper card shadow rounded">
 
    @foreach (Cell c in myListCells)
    {
        <li class="cell droppable " dropzone="true" @ondrop="HandleDrop"
            ondragover="event.preventDefault();"
            ondragstart="event.dataTransfer.setData('',event.target.id);"
            ondragenter="HandleDragEnter"
            ondragleave="HandleDragLeave"
            style="background-color:@c.color">@c.caption</li>
    }


</div>
<style>
    .wrapper {
        display:grid;
        max-width:770px;
        max-height=770px;
        padding:15px;
        grid-template-rows: repeat(15 ,50px);
        grid-template-columns:repeat(15,50px);
        border:solid 3px #333;
    
        
    }
    .cell {
        list-style-type:none;
        border: solid black 1px;
        text-align: center;
        vertical-align:central;
    }
    
</style>

@code {
    static int numCells = 15;
    string title = "My Wurdz Game";
    string color;
    List<Cell> myListCells = new List<Cell>();

    GameBoard board = new GameBoard(numCells);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        makeCells();
    }

    void makeCells()
    {
        foreach (Cell c in @board.cells)
        {
            myListCells.Add(c);
        }
    }
    private void HandleDrop()
    {
        //ev.dataTransfer.setData("text/plain", ev.target.innerText);
        Console.WriteLine("something dropped here.");
    }
    private void HandleDragEnter()
    {
        Console.WriteLine("something enterred here.");
    }
    private void HandleDragLeave()
    {
        Console.WriteLine("something left here.");
    }


}
