@using Wurdz.Shared.Models

<div class="" style="border: 2px solid black;">
   
    @Item

</div>


@code {

    [Parameter]
    public Wurdz.Shared.Models.Cell Item { get; set; }

    @*[Parameter]
    public EventCallback<TodoItem> OnRemoveClick { get; set; }*@

}

