@using Wurdz.Shared.Models

    <div class="cell" style="border: 2px solid black;">


        @if (HasTile)
        {
            @currentTile
        }
        else
        {
            @Item
        }

    </div>


@code {

    [Parameter]
    public Cell Item { get; set; }
    [Parameter]
    public Tile currentTile { get; set; }
    [Parameter]
    public bool HasTile { get; set; }

    @*[Parameter]
    public EventCallback<TodoItem> OnRemoveClick { get; set; }*@

}

